<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Mi Aplicacion Web</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="description" content="Aplicacion Web" />
	<meta name="keywords" content="Aplicacion Web, Sitio Web, Spring Boot" />
	<meta name="author" content="Alex Daniel Cabello Leon" />
	<meta name="copyright" content="adanyc" />
	<meta name="robots" content="all, index, follow" />
	<meta http-equiv="cache-control" content="no-cache" />
	<meta http-equiv="pragma" content="no-cache" />
	<meta name="title" content="Aplicaion Web" />
	<meta name="distribution" content="Global" />
	<link rel="stylesheet" th:href="@{/js/libs/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
	<div class="container" style="margin-top: 50px;max-width: 800px;">
		<h4>Liste des produits</h4>
		<hr/>
		<form id="frm_generico" action="#" method="post" th:action="@{/buscar}">
			<div class="card">		
				<div class="card-body">
					<div class="form-group form-row mb-0">
						<label class="col-form-label col-md-2">ID</label>
						<div class="col-md-6">
							<input type="text" name="ruc" id="ruc" class="form-control" th:value="${ruc}" placeholder="Entrer votre identifiant"/>
						</div>
						<div class="col-md-4">
							<button type="submit" class="btn btn-primary">Rechercher</button>
							<a th:href="@{/}" class="btn btn-danger">Annuler</a>
						</div>						
					</div>
				</div>
			</div>
		</form>
		<table class="table table-bordered table-hover" style="margin-top: 10px;">
			<thead>
				<tr>
				<th>ID</th>
				<th>Libellé</th>
				<th>Mise en vente</th>
				<th colspan="2" class="text-center">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item : ${lista}">
					<td th:text="${item.ruc}"/>
					<td th:text="${item.codigoSolicitud}"/>
					<td th:text="${item.fechaSolicitud}"/>
					<td class="text-center"><a th:href="@{/iniEditar/{ruc}(ruc=${item.ruc})}" title="Editar" class="btn btn-info">Editer</a></td>
					<td class="text-center"><a th:href="@{/eliminar/{ruc}(ruc=${item.ruc})}" title="Eliminar" class="btn btn-danger" data-toggle="modal" data-target="#modalEliminar">Supprimer</a></td>
				</tr>
			</tbody>
		</table>
		
		<!-- Eliminar -->
		<div class="modal fade" id="modalEliminar" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title">Supprimer</h5>
			      </div>
			      <div class="modal-body">
			        <p>Êtes-vous sûr de vouloir supprimer cet enregistrement ?</p>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
			        <a href="#" class="btn btn-danger" id="btnEliminar">Confirmer</a>
			      </div>
			    </div>
			  </div>
		</div>
		
		<div class="row">
			<div class="col-md-3 offset-md-9">
				<a th:href="@{/iniInsertar}" class="btn btn-primary btn-block">Nouveau</a>
			</div>
		</div>		
	</div>	
	

	<!-- JavaScript -->
	<script type="text/javascript" th:src="@{/js/libs/jquery/jquery-3.3.1.slim.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/libs/popper/popper.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/libs/bootstrap/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/funciones/jsSolicitud.js}"></script>
</body>
</html>