<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Mi Aplicacion Web</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="description" content="Aplicacion Web" />
	<meta name="keywords" content="Aplicacion Web, Sitio Web, Spring Boot" />
	<meta name="author" content="Alex Daniel Cabello Leon" />
	<meta name="copyright" content="adanyc" />
	<meta name="robots" content="all, index, follow" />
	<meta http-equiv="cache-control" content="no-cache" />
	<meta http-equiv="pragma" content="no-cache" />
	<meta name="title" content="Aplicaion Web" />
	<meta name="distribution" content="Global" />
	<link rel="stylesheet" th:href="@{/js/libs/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
	<div class="container" style="margin-top: 50px;max-width: 600px;">
		<form id="frm_generico" action="#" method="post" th:action="@{/insertar}">
			<div class="card">		
				<div class="card-body">
					<div class="form-group form-row">
						<label class="col-form-label col-md-4">ID</label>
						<div class="col-md-8">
							<input type="number" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==11) return false;" name="ruc" id="ruc" class="form-control" placeholder="id" maxlength="11" required="required"/>
						</div>			
					</div>
					<div class="form-group form-row">
						<label class="col-form-label col-md-4">Libellé</label>
						<div class="col-md-8">
							<input type="text" name="codigoSolicitud" id="codigoSolicitud" class="form-control" placeholder="libellé" required="required"/>
						</div>
					</div>
					<div class="form-group form-row">
						<label class="col-form-label col-md-4">Mise en vente</label>
						<div class="col-md-8">
							<input type="text" name="fechaSolicitud" id="fechaSolicitud" class="form-control" placeholder="dd-mm-yyyy" maxlength="10" required="required"/>
						</div>	
					</div>
					<div class="form-group form-row mb-0">
						<button type="submit" class="btn btn-primary">Confirmer</button>&nbsp;
						<a th:href="@{/}" class="btn btn-danger">Annuler</a>
					</div>
				</div>
			</div>
		</form>	
	</div>

	<!-- JavaScript -->
	<script type="text/javascript" th:src="@{/js/libs/jquery/jquery-3.3.1.slim.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/libs/popper/popper.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/libs/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>